.mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 800px;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    height: 80%;
    width: 80%;
    margin: 20px;
    color: black;
}

.capturando{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.etiqueta{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.etiqueta input{

}

.h1{
    color: black;
}

@media (max-width: 768px) {
    .container{
        flex-direction: column;
        height: 90%;
    }
    .capturando, .welcome{
        width: 100%;
        height: 50%;
    }
}