.stl-header {
  background-color: var(--primary-bg-color);
  color: var(--primary-color-font);
}

.stl-footer {
  background-color: var(--color-ui-high);
  color: var(--secondary-color-font);
}

/* ------------------------------------------------ HEADER ------------------------------------------------ */
.header-ext {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: var(--primary-bg-color);
  color: var(--primary-color-font);
  position: relative;
}

.logos,
.logos-menu {
  display: flex;
  gap: 20px;
  align-items: center;
}

.logos-menu {
  display: none;
}

.logo-sep {
  width: 165px;
  height: 60px;
}

.logo-tecnm {
  width: 120px;
  height: 60px;
}

.logo-itl,
.logo-sares {
  width: 60px;
}

.logo-sares-login {
  display: none;
}

.nav-menu {
  display: flex;
  gap: 50px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 0;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  font-size: 0.95rem;
  white-space: nowrap;
  color: inherit;
}

.nav-link:hover,
.nav-link.active {
  color: var(--color-primary);
  border-bottom-color: var(--color-accent);
}

.hamburger {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: var(--primary-color-font);
  cursor: pointer;
  z-index: 9999;
}

.hamburger.open {
  position: fixed;
  top: 20px;
  right: 32px;
}


@media (max-width: 1100px) {
  .header-ext {
    padding: 15px 20px;
  }

  .nav-link {
    font-size: 0.9rem;
  }

  .logo-sep {
    width: 140px;
    height: 50px;
  }

  .logo-tecnm {
    width: 100px;
    height: 50px;
  }

  .logo-itl,
  .logo-sares,
  .logo-sares-login {
    width: 50px;
    height: 50px;
  }

  .logos {
    gap: 15px;
  }

  .logos-menu {
    display: none;
  }
}


@media (max-width: 945px) {
  .header-ext {
    padding: 15px 20px;
  }

  .logos-menu {
    display: none;
  }

  .logo-sep {
    display: none;
  }

  .logo-tecnm {
    width: 100px;
    height: 50px;
  }

  .logo-itl,
  .logo-sares,
  .logo-sares-login {
    width: 50px;
    height: 50px;
  }

  .logo-sares-login {
    display: none;
  }

  .logos {
    gap: 15px;
  }

  .logos-menu {
    display: none;
  }

  .nav-menu {
    gap: 42px !important;
  }

}


@media (max-width: 770px) {
  .header-ext {
    padding: 15px 30px;
  }

  .nav-menu.open .header-ext {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
    display: block;
  }

  .nav-menu {
    display: block;
  }

  .logo-sep {
    display: block;
  }

  .logo-sep {
    width: 140px;
    height: 50px;
  }

  .logo-tecnm {
    width: 100px;
    height: 50px;
  }

  .logo-sares-login {
    display: none;
  }

  .logo-itl,
  .logo-sares,
  .logo-sares-login {
    width: 50px;
    height: 50px;
  }

  .logos,
  .logos-menu {
    gap: 15px;
  }

  .logos-menu {
    display: flex;
    visibility: visible !important;
  }

  .hamburger {
    display: block;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    gap: 0;
    position: fixed;
    top: 0px;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0px 0px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.87);
  }

  .nav-menu.open {
    transform: translateX(0);
  }

  .nav-link {
    font-size: 1rem;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
    color: white;
    margin-top: -42px
  }

  .nav-link,
  .nav-link.active {
    color: white !important;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
  }

  .nav-link:hover,
  .nav-link.active:hover {
    background-color: rgba(90, 90, 90, 0.3);
  }

  .hamburger.open {
    color: white;
  }
}

@media (max-width: 650px) {
  .logo-sares-login {
    display: block;
  }
}

@media (max-width: 515px) {
  .header-ext {
    padding: 10px 30px;
  }

  .nav-menu.open .header-ext {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
    display: block;
  }

  .nav-menu {
    display: block;
  }

  .logo-sep {
    display: none;
  }

  .logo-sep {
    width: 140px;
    height: 50px;
  }

  .logo-tecnm {
    width: 100px;
    height: 50px;
  }

  .logo-sares-login {
    display: block;
  }

  .logo-itl,
  .logo-sares,
  .logo-sares-login {
    width: 50px;
    height: 50px;
  }

  .logos,
  .logos-menu {
    gap: 15px;
  }

  .logos-menu {
    display: flex;
    visibility: visible !important;
  }

  .hamburger {
    display: block;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    gap: 0;
    position: fixed;
    top: 0px;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0px 0px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.87);
  }

  .nav-menu.open {
    transform: translateX(0);
  }

  .nav-link {
    font-size: 1rem;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
    color: white;
    margin-top: -42px
  }

  .nav-link,
  .nav-link.active {
    color: white !important;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
  }

  .nav-link:hover,
  .nav-link.active:hover {
    background-color: rgba(90, 90, 90, 0.3);
  }

  .hamburger.open {
    color: white;
  }
}

@media (max-width: 355px) {
  .header-ext {
    padding: 10px 30px;
    z-index: 1000;
  }

  .nav-menu {
    display: block;
  }

  .nav-menu.open .header-ext {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
    display: block;
  }

  .logo-sep {
    display: none;
  }

  .logo-sep {
    width: 140px;
    height: 50px;
  }

  .logo-tecnm {
    display: none;
  }

  .logo-sares-login {
    display: block;
  }

  .logo-itl,
  .logo-sares,
  .logo-sares-login {
    width: 50px;
    height: 50px;
  }

  .logos,
  .logos-menu {
    gap: 15px;
  }

  .logos-menu {
    display: flex;
    visibility: visible !important;
  }

  .hamburger {
    display: block;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    gap: 0;
    position: fixed;
    top: 0px;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0px 0px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.87);
  }

  .nav-menu.open {
    transform: translateX(0);
  }

  .nav-link {
    font-size: 1rem;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
    color: white;
    margin-top: -42px
  }

  .nav-link,
  .nav-link.active {
    color: white !important;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
  }

  .nav-link:hover,
  .nav-link.active:hover {
    background-color: rgba(90, 90, 90, 0.3);
  }

  .hamburger.open {
    color: white;
  }

  .icono-notificacion {
    font-size: 1.7rem !important;
  }


}

/* ------------------------------------------------- FOOTER --------------------------------------------------- */
.footer {
  display: flex;
  background-color: #000000;
  padding: 10px;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color-font);
  text-align: center;
  flex-wrap: wrap;
}

.footer p {
  color: white;
}

@media (max-width: 480px) {
  .footer {
    padding: 20px;
    font-size: 14px;
    line-height: 1.4;
  }
}

/* -------------------------------------------- ACORDEON ------------------------------------------------- */
.acordeon-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #dcdcdc;
  padding: 0;
  background: #fff;
  transition: all 0.3s ease;
}

.acordeon-header {
  width: 100%;
  background: #f5f5f5;
  border: none;
  padding: 14px 18px;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: #333;
  transition: background 0.25s ease;
}

.acordeon-header:hover {
  background: #e9e9e9;
}

.flecha {
  transition: transform 0.3s ease;
  font-size: 14px;
}

.rotar {
  transform: rotate(180deg);
}

.acordeon-contenido {
  overflow: auto;
  padding: 14px 18px;
  font-size: 15px;
  background: #fafafa;
  color: #000000;
  animation: abrir 0.3s ease;
}

@keyframes abrir {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ----------------------------------------- Header Interno ------------------------------------------ */
.header-int {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: var(--primary-bg-color);
  color: var(--primary-color-font);
  position: relative;
}

.logos-int {
  display: flex;
  gap: 20px;
  align-items: center;
}

.logo-sep-int {
  width: 165px;
  height: 60px;
}

.logo-tecnm-int {
  width: 120px;
  height: 60px;
}

.logo-itl-int,
.logo-sares-int {
  width: 60px;
}

.otros {
  position: relative;
  display: flex;
  align-items: center;
  gap: 25px;
}

.icono-notificacion {
  font-size: 26px;
  cursor: pointer;
}

.nombre-usuario {
  font-weight: 600;
  font-size: 16px;
}

.foto-usuario img {
  border: 3px solid #63a94a;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}


/* ======================================= RESPONSIVIDAD ============================================ */

@media (max-width: 1100px) {
  .header-int {
    padding: 15px 20px;
  }

  .logo-sep-int {
    width: 140px;
    height: 50px;
  }

  .logo-tecnm-int {
    width: 100px;
    height: 50px;
  }

  .logo-itl-int,
  .logo-sares-int,
  .logo-sares-login {
    width: 50px;
    height: 50px;
  }

  .logos-int {
    gap: 15px;
  }

}


@media (max-width: 945px) {
  .header-int {
    padding: 15px 20px;
  }

  .logo-sep-int {
    display: block;
  }

  .logo-tecnm-int {
    width: 100px;
    height: 50px;
  }

  .logo-itl-int,
  .logo-sares-int,
  .logo-sares-login {
    width: 50px;
    height: 50px;
  }


  .logos-int {
    gap: 15px;
  }

}

@media (max-width: 770px) {
  .header-int {
    padding: 15px 30px;
  }

  .logo-sep-int {
    display: block;
  }

  .logo-sep-int {
    width: 140px;
    height: 50px;
  }

  .logo-tecnm-int {
    width: 100px;
    height: 50px;
  }

  .logo-itl-int,
  .logo-sares-int,
  .logo-sares-login {
    width: 50px;
    height: 50px;
  }

  .logos-int,
  .logos-menu {
    gap: 20px !important;
  }

  .logo-sep-int {
    display: none !important;
  }

}

@media (max-width: 580px) {
  .logo-sep-int {
    display: none !important;
  }

  .logo-tecnm-int {
    display: none !important;
  }

  .otros {
    gap: 25px !important;
  }
}

@media (max-width: 515px) {
  .header-int {
    padding: 10px 30px;
  }

  .logo-sep-int {
    display: none;
  }

  .logo-sep-int {
    width: 140px;
    height: 50px;
  }

  .logo-tecnm-int {
    width: 100px;
    height: 50px;
    display: none !important;
  }

  .logo-itl-int,
  .logo-sares-int,
  .logo-sares-login {
    width: 50px;
    height: 50px;
  }

  .logos-int,
  .logos-menu {
    gap: 15px !important;
  }

  .otros {
    gap: 25px !important;
  }

  .foto-usuario img {
    width: 42px !important;
    height: 42px !important;
  }

}


@media (max-width: 450px) {
  .nombre-usuario {
    display: none !important;
  }

  .otros {
    gap: 30px !important;
  }

  .foto-usuario img {
    width: 40px !important;
    height: 40px !important;
  }
}

@media (max-width: 355px) {
  .header-int {
    padding: 10px 30px;
    z-index: 1000;
  }

  .logo-sep-int {
    display: none;
  }

  .logo-sep-int {
    width: 140px;
    height: 50px;
  }

  .logo-tecnm-int {
    display: none;
  }

  .logo-itl-int,
  .logo-sares-int,
  .logo-sares-login {
    width: 50px;
    height: 50px;
  }

  .logos-int,
  .logos-menu {
    gap: 15px !important;
  }

  .icono-notificacion {
    font-size: 1.7rem !important;
  }

  .nombre-usuario {
    display: none !important;
  }

  .otros {
    gap: 30px !important;
  }

  .foto-usuario img {
    width: 40px !important;
    height: 40px !important;
  }

}

/* ========================================= MENUS DEL HEADER INTERNO ====================================== */
.menu-usuario {
  position: absolute;
  top: 65px;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 0;
  width: 180px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 100;
}

.menu-item {
  width: 100%;
  padding: 10px 15px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}

.menu-item:hover {
  background-color: #f3f3f3;
}

.icono-menu {
  font-size: 18px;
}

.menu-notificaciones {
  position: absolute;
  top: 65px;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0;
  width: 380px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 100;
}

.titulo-notif {
  font-weight: bold;
  padding: 12px 10px;
  margin: 0px;
  border-bottom: 1px solid #ddd;
  color: #000000;
}

.notif-item {
  padding: 12px 15px;
  gap: 10px;
  font-size: 15px;
  cursor: pointer;
  background-color: white;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notif-item:hover {
  background-color: #f3f3f3;
}

.notif-fecha {
  font-size: 0.75rem;
  color: #888;
  margin-left: 10px;
  white-space: nowrap;
}

.ver-todo-notif {
  font-weight: bold;
  text-align: center;
  justify-content: center;
  border-top: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 0;
}

.ver-todo-texto {
  margin: 0;
  color: blue;
  cursor: pointer;
  display: inline-block;
  padding: 8px 0;
}

.ver-todo-texto:hover {
  text-decoration: underline;
}

/* ========================================== RESPONSIVIDAD ============================================== */

@media (max-width: 768px) {
  .menu-usuario {
    position: absolute !important;
    right: 0 !important;
    transform: none;
    top: 68px !important;
    width: 170px;
  }

  .menu-notificaciones {
    right: 0 !important;
    margin-right: 0 !important;
    transform: none;
    top: 68px;
    width: calc(100vw - 60px);
    max-width: 350px;
  }

  .titulo-notif {
    font-size: 14px;
  }

  .notif-item {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    padding: 10px 12px !important;
    font-size: 14px !important;
  }

  .notif-item i {
    margin-top: 2.1px !important;
  }

  .menu-item {
    font-size: 14px;
    padding: 10px;
  }
}



@media (max-width: 515px) {
  .menu-usuario {
    position: absolute !important;
    right: 0 !important;
    transform: none;
    top: 60px !important;
    width: 160px;
  }

  .menu-notificaciones {
    right: 0 !important;
    margin-right: 0 !important;
    transform: none;
    top: 60px;
    width: calc(100vw - 60px);
    max-width: 350px;
  }

  .titulo-notif {
    font-size: 14px;
  }

  .notif-item {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    padding: 10px 12px !important;
    font-size: 14px !important;
  }


  .notif-item i {
    margin-top: 2.1px !important;
  }

  .menu-item {
    font-size: 14px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .menu-usuario {
    position: absolute !important;
    right: 0 !important;
    transform: none;
    top: 60px !important;
    width: 160px;
  }

  .menu-notificaciones {
    right: 0 !important;
    margin-right: 0 !important;
    transform: none;
    top: 60px;
    width: calc(100vw - 60px);
    max-width: 350px;
  }

  .titulo-notif {
    font-size: 14px;
  }

  .notif-item {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    padding: 10px 12px !important;
    font-size: 14px !important;
  }


  .notif-item i {
    margin-top: 2.1px !important;
  }

  .menu-item {
    font-size: 14px;
    padding: 10px;
  }

  .notif-fecha {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    padding: 1px 12px !important;
    font-size: 0.7rem !important;
    margin-left: 13px !important;
  }
}

@media (max-width: 380px) {
  .menu-usuario {
    width: 150px;
    right: -10px !important;
  }

  .menu-notificaciones {
    width: calc(100vw - 40px);
    right: -10px !important;
    top: 60px !important;
  }

  .notif-item {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    padding: 10px 12px !important;
    font-size: 14px !important;
  }

  .notif-fecha {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    padding: 1px 12px !important;
    font-size: 0.7rem !important;
    margin-left: 13px !important;
  }

  .notif-item i {
    margin-top: 2.2px !important;
  }

  .menu-item {
    font-size: 13px;
    padding: 8px 10px;
  }
}

@media (max-width: 340px) {
  .menu-usuario {
    width: 140px !important;
    right: -15px !important;
  }

  .menu-notificaciones {
    width: calc(100vw - 30px);
    right: -15px !important;
    top: 60px !important;
  }

  .titulo-notif {
    font-size: 13px !important;
    padding: 10px 8px !important;
  }

  .notif-item {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    padding: 10px 12px !important;
  }

  .notif-fecha {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    padding: 1px 12px !important;
  }

  .notif-item i {
    margin-top: 2px !important;
  }

}