.contenido {
  display: flex;
  justify-content: space-between;
}

.imagen,
.login {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.imagen {
  display: flex;
  flex-direction: column;
}

.imagen img {
  width: 300px;
}

.frase {
  margin-top: 30px;
  font-weight: 700;
  font-size: 27px;
  color: white;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 340px;
  padding: 30px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #444;
}

input {
  width: 93%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 6px;
  margin-bottom: 20px;
  font-size: 14px;
}

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
  margin-top: 10px;
}

.link {
  color: #0066cc;
  text-decoration: none;
  font-size: 14px;
}

.link:hover {
  text-decoration: underline;
}

.btn-login {
  width: 100%;
  padding: 10px;
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn-login:hover {
  background-color: #004c99;
}

.extra-options {
  margin-top: 20px;
  text-align: center;
  gap: 10px !important;
}

.extra-options p {
  margin-bottom: 8px;
  color: #444;
}

.extra-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.extra-options p {
  margin: 0;
}


/* ------------------------------------ RESPONSIVIDAD -------------------------------------- */

@media (max-width: 900px) {
  .contenido {
    flex-direction: row;
    display: flex;
  }

  .imagen {
    display: flex;
    flex: 0 0 45% !important;
  }

  .frase {
    text-align: center;
    font-size: 1.3rem !important;
    top: 0;
    margin: 0
  }

  .login {
    flex: 0 0 55% !important;
  }

  .imagen img {
    padding: 40px 20px;
    width: 70% !important;
  }

  .login-container {
    padding: 25px;
    width: 80% !important;
    margin: 20px;
  }

  .imagen {
    width: 40% !important;
  }
}

@media (max-width: 800px) {
  .contenido {
    flex-direction: row;
    display: flex;
  }

  .imagen {
    display: flex;
    flex: 0 0 40% !important;
  }

  .frase {
    text-align: center;
    font-size: 1.2rem !important;
    top: 0;
    margin: 0
  }

  .login {
    flex: 0 0 60% !important;
  }

  .imagen img {
    padding: 40px 20px;
    width: 65% !important;
  }

  .login-container {
    padding: 25px;
    width: 80% !important;
    margin: 20px;
  }

  .imagen {
    width: 40% !important;
  }
}

@media (max-width: 650px) {
  .contenido {
    flex-direction: column;
  }

  .login-container {
    width: 53% !important;
    padding: 20px !important;
    margin: 0 20px 40px !important;
  }

  .logo-sares-tl {
    display: none;
  }

  .imagen {
    width: 100% !important;
    padding: 40px 0px;
  }

  .login {
    width: 100% !important;
  }

  .frase {
    font-size: 1.2rem;
    margin: 0;
  }

  input {
    font-size: 0.9rem !important;
    width: 89%;
  }
}