.contenido {
  display: flex;
  justify-content: space-between;
}

.imagen,
.login {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.imagen {
  display: flex;
  flex-direction: column;
}

.imagen img {
  width: 300px;
}

.frase {
  margin-top: 30px;
  font-weight: 700;
  font-size: 27px;
  color: white;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 380px;
  padding: 30px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #444;
}

input {
  width: 94%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 6px;
  margin-bottom: 20px;
  font-size: 14px;
}

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
  margin-top: 10px;
}

.link {
  color: #0066cc;
  text-decoration: none;
  font-size: 14px;
}

.link:hover {
  text-decoration: underline;
}

.btn-login {
  width: 100%;
  padding: 10px;
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn-login:hover {
  background-color: #004c99;
}

.extra-options {
  margin-top: 20px;
  text-align: center;
}

.extra-options p {
  margin-bottom: 8px;
  color: #444;
}

.extra-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.extra-options p {
  margin: 0;
}



/* ------------------------------------ RESPONSIVIDAD -------------------------------------- */
@media (max-width: 1000px) {
  .imagen {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-container {
    width: 70% !important;
    margin: 0 auto !important;
  }

  .imagen img {
    width: 60%;
  }

  .imagen p {
    font-size: 1.5rem;
  }

  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .login-container {
    margin: 20px;
    width: 100%;
    margin-right: 50px;
  }
}

@media (max-width: 945px) {
  .imagen {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-container {
    width: 70% !important;
    margin: 0 auto !important;
  }

  .imagen img {
    width: 55%;
  }

  .imagen p {
    font-size: 1.25rem;
  }

  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .login-container {
    margin: 20px;
    width: 100%;
    margin-right: 50px;
  }
}


@media (max-width: 770px) {
  .contenido {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 60px;
  }

  .imagen {
    height: auto;
    margin-bottom: 20px;
    text-align: center;
  }

  .logo-sares-tl {
    display: none;
  }

  .frase {
    font-size: 22px;
    padding-bottom: 20px;
  }

  .login {
    width: 100%;
    height: auto;
    justify-content: center;
  }

  .login-container {
    width: 95%;

  }

  input {
    width: 100%;
  }

  .logo-sares {
    display: block;
  }
}



@media (max-width: 770px) {
  .contenido {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
  }

  .frase {
    margin: 0;
    font-size: 1.32rem;
    text-align: center;
  }

  .login {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 30px;
  }

  .login-container {
    padding: 30px;
    width: 68%;
    box-sizing: border-box;
    border-radius: 6px;
  }

  input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    font-size: 0.9rem;
  }
}


@media (max-width: 680px) {
  .contenido {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
  }

  .frase {
    margin: 0;
    font-size: 1.28rem;
    text-align: center;
  }

  .login {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 30px;
  }

  .login-container {
    padding: 30px;
    width: 68%;
    box-sizing: border-box;
    border-radius: 6px;
  }

  input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    font-size: 0.9rem;
  }
}



@media (max-width: 550px) {
  .contenido {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
  }

  .frase {
    margin: 0;
    font-size: 1.25rem;
    text-align: center;
  }

  .login {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 30px;
  }

  .login-container {
    padding: 30px;
    width: 85%;
    box-sizing: border-box;
    border-radius: 6px;
  }

  input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    font-size: 0.9rem;
  }
}


@media (max-width: 470px) {
  .contenido {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
  }

  .frase {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
  }

  .login {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 30px;
  }

  .login-container {
    padding: 30px;
    width: 90%;
    box-sizing: border-box;
    border-radius: 6px;
  }

  input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    font-size: 0.9rem;
  }
}


@media (max-width: 405px) {
  .contenido {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
  }

  .frase {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
  }

  .login {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 30px;
  }

  .login-container {
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 6px;
  }

  input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    font-size: 0.9rem;
  }
}


@media (max-width: 360px) {
  .contenido {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
  }

  .frase {
    margin: 0;
    font-size: 1.15rem;
    text-align: center;
  }

  .login {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  .login-container {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 6px;
  }

  input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    font-size: 0.9rem;
  }
}