.manual-miembros-container {
    margin-top: 30px;
    width: 90%;
    height: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);    
    margin-bottom: 30px;
    background-color: white;
}
.manual-miembros-content {
    width: 100%;  
    display: flex;    
    margin-bottom: 20px;    
    height: auto;       
    flex-wrap: wrap;
}
.manual-miembros-text {
    background-color: #EFECE3;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 15px;
    width: 50%;
    height: auto;
    border-radius: 3vh;
    padding: 20px;
}
.manual-miembros-video {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    height: auto;
    margin-bottom: 20px;
}
.video-youtube {
    width: 75%;
    height: 75%;
}
details {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
.logotipo-texto {
    width: 5vh;    
    height: 5vh;     
}
.manual-miembros-image {
    justify-content: center;
    align-items: center;
    display: flex;
    width: auto;
    height: auto;
}
.text_manual {
    text-align: center;    
    color: black;
    font-size: medium;
}
.loigotipo-video {
    width: 8vh;    
    height: 8vh;         
}
.manual-miembros-image_video {
    justify-content: center;
    align-items: center;
    display: flex;
    width: auto;
    height: auto;  
}


/*estilos para la responsividad*/
/* segun gugul el tama単o para pantallas peque単as*/
@media (max-width: 767px) {
    .manual-miembros-container {
        padding: 15px; 
        width: 95%;    
    }
    .manual-miembros-text, .manual-miembros-video {
        width: 100%;  
        margin-bottom: 10px;
    }
    .video-youtube {
        width: 100%;
        height: auto;
    }
    .logotipo-texto {
        width: 10vh; 
        height: 10vh;
    }
    .loigotipo-video {
        width: 10vh;
        height: 10vh;
    }
}

/*segun gugul tama単o de pantallas medianas */
@media (min-width: 768px) and (max-width: 1024px) {
    .manual-miembros-container {
        padding: 20px;
        width: 90%;
    }
    .manual-miembros-text, .manual-miembros-video {
        width: 50%;   
        margin-bottom: 15px;
    }
    .video-youtube {
        width: 100%;
        height: 70%;
    }
    .logotipo-texto {
        width: 7vh;
        height: 7vh;
    }
    .loigotipo-video {
        width: 7vh;
        height: 7vh;
    }
}

/*segung gugul tama単o de pantalls grandes*/
@media (min-width: 1025px) {
    .manual-miembros-container {        
        width: 80%;
        padding: 30px;
    }
    .manual-miembros-text {
        font-size: 20px; 
    }
    .manual-miembros-video {
        width: 45%; 
        height: 60vh;
    }
    .video-youtube {
        width: 75%;
        height: 75%;
    }
    .logotipo-texto {
        width: 5vh;
        height: 5vh;
    }
    .loigotipo-video {
        width: 8vh;
        height: 8vh;
    }
}
