.barrita {
    background-color: #000;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left: 0;
    height: 100%;
    width: 100%;
}

.menuClosed {
    display: none;
}


@media screen and (min-width: 768px) {

    .menu{
        flex-direction: row;
    }

    .menuClosed {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding-left: 0;
        height: 100%;
        width: 100%;

    }

    .buttonMenu {
        display: none;
    }
}

.item {
    padding: 1em;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.buttonMenu {
    width: 100%;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}