.nav{
   background-color: #000;
   display: flex;
   align-items: center; 
   justify-content: center;
   height: 70px;
   width: 100%;
}

.ul{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
}

.link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    height: 100%;
    width: 15%;
    font-size: 20px;
    transition: all 0.4s ease-in-out 0.2s; 
}

.link:hover{
    background-color: white;
    color: black;
}