/* ----------------------------------------- MODAL A ----------------------------------------- */
.modal-crud {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    z-index: 3000;
}

.modal-crud::-webkit-scrollbar {
    width: 0;
}

.modal-crud {
    scrollbar-width: none;
}

h2 {
    color: #444;
    margin-top: 0;
    font-size: 20px;
}

/* ----------------------------------------- MODAL CONTENT ----------------------------------------- */
.modal-content-crud {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    width: 500px;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    color: black;
    position: relative;
    animation: fadeIn 0.2s ease-in-out;
}

/* ----------------------------------------- BOTÓN CERRAR ----------------------------------------- */
.btn-cerrar-modal-crud {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
    color: #444;
}

/* ----------------------------------------- FORM ----------------------------------------- */
.modal-form-crud {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-grid-crud {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.form-group-crud {
    display: flex;
    flex-direction: column;
}

.form-group-crud label {
    color: #444;
}

.form-group-crud input {
    border: 1px solid #ccc;
    background: white;
    outline: none;
    box-shadow: none;
    border-radius: 5px;
    width: 90%;
    margin-top: 5px;
}

.form-group-crud select {
    border: 1px solid #ccc;
    background: white;
    outline: none;
    box-shadow: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

/* ----------------------------------------- RADIO ----------------------------------------- */


.checkbox-row-crud {
    display: flex;
    align-items: center;
    gap: 20px;
    row-gap: 0px;
}

.checkbox-row-crud .activo {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
}

.checkbox-row-crud .inactivo {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
}

.checkbox-row-crud input[type="radio"] {
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-top: 15px;
}

.checkbox-row-crud label {
    cursor: pointer;
}


/* ----------------------------------------- BOTONES ----------------------------------------- */
.modal-buttons-crud {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding-top: 15px;
    border-top: 1px solid #ccc;
}

.btn-cancelar {
    background: #aaa;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
}

.btn-guardar {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
}

/* ----------------------------------------- ANIMACIÓN ----------------------------------------- */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* ======================================= RESPONSIVIDAD ======================================= */
@media (max-width: 600px) {

    .modal-crud {
        margin: 0px !important;
        padding: 0px 20px !important;
    }
}

@media (max-width: 550px) {
    .modal-crud {
        margin: 0px !important;
        padding: 0px !important;
    }

    .modal-content-crud {
        width: 100% !important;
        margin: 0 !important;
        min-height: 100vh !;
        border-radius: 0 !important;
        padding: 20px !important;
        display: flex !important;
    }

    .form-grid-crud {
        grid-template-columns: 1fr !important;
    }

    .modal-buttons-crud {
        flex-direction: column-reverse !important;
    }

    .btn-cancelar,
    .btn-guardar {
        width: 100%;
    }

    .form-group-crud select,
    .form-group-crud input {
        border: 1px solid #ccc;
        background: white;
        outline: none;
        box-shadow: none;
        border-radius: 5px;
        width: auto;
        padding: 10px;
        margin-top: 5px;
    }
}