.newsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    background-color: whitesmoke;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.prin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.sec{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.enlace {
    margin-top: 2em;
    color: black;
    text-decoration: none;
    background: rgb(143, 171, 212); 
    text-align: center;    
    padding: 5px 20px;    
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.enlace:hover {
    color: rgb(19, 19, 95);
}