.newsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    background-color: whitesmoke;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.prin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.sec{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}