.contenedor-notificaciones {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-espacio-notificaciones {
    background-color: white;
    width: 1200px;
    height: 1400px;

    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    border-radius: 8px;
}

.titulo-notif-todas {
  font-weight: bold;
  padding: 20px 19px;
  margin: 0px;
  border-bottom: 1px solid #ddd;
  color: black;
}

.contenedor-espacio-notificaciones::-webkit-scrollbar {
    width: 6px;
}
.contenedor-espacio-notificaciones::-webkit-scrollbar-thumb {
    background: transparent; 
}
.contenedor-espacio-notificaciones:hover::-webkit-scrollbar-thumb {
    background: #cfcfcf;
    border-radius: 10px;
}

.lista-notificaciones {
    display: flex;
    flex-direction: column;
}

.notificacion-item-i {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

.notificacion-item:hover {
    background: rgb(245, 245, 245);
}

.icono-notificacion-i {
    font-size: 20px;
    color: #0d6efd;
    margin-right: 20px;
}

.notificacion-detalles {
    display: flex;
    align-items: center;
    gap: 70px;   
    flex: 1;   
}

.texto-notificacion {
    font-size: 16px;
    color: #333;
    margin: 0;
}

.tipo-notificacion {
    font-size: 14px;
    font-weight: bold;
    color: #198754;
}

.tipo-notificacion.salida {
    color: #dc3545;
}

.fecha-notificacion {
    font-size: 13px;
    color: #777;
    white-space: nowrap;
    margin-left: 20px;
}
