.scannerContainer {
   position: relative;
  width: 100%;
  max-width: 400px;
  aspect-ratio: 4 / 3;
  margin: auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,.4);
}

.scannerContainer video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scannerContainer canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.scannerContainer .drawingBuffer {
  display: none;
}

.scannerOverlay {
  position: absolute;
  inset: 20%;
  border: 2px solid #00ff88;
  border-radius: 8px;
  pointer-events: none;
}

p{
    color: black;
}