.mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 900px;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 80%;
    width: 80%;
    border-radius: 10px;
    color: black;
    text-align: center;
}

.h1{
    color: black;
}

.instrucioncitas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.lista{
    width: 50%;
}

.item{
    padding: 1em;
}

.enlace{
    margin-top: 2em;
    color: black;
    text-decoration: none;
}

.enlace:hover{
    color: blue;
}