.mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 80%;
    width: 80%;
    border-radius: 10px;
    color: black;
}

.h1{
    color: black;
}
