.mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 900px;
    width: 100%;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 90%;
    width: 90%;
    border-radius: 10px;
    color: black;
}

.advice{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 20%;
}

.h1{
    color: black;
}
