.mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 950px;
    width: 100%;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 90%;
    width: 90%;
    border-radius: 10px;
    color: black;
}

.advice{
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 20%;
}

.h1{
    color: black;
}
.enlace {
    margin-top: 0.5em;
    color: black;
    text-decoration: none;
    background: rgb(143, 171, 212);    
    text-align: center;    
    padding: 5px 20px;    
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.enlace:hover {
    color: rgb(19, 19, 95);
}